h1{color: blueviolet; text-decoration: underline; text-decoration-style: wavy; }
h1{font-size: 40px;}
p{font-weight: normal;}

h2{color: royalblue;}

h3{color: hotpink; text-decoration: underline;}

body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f7f9fb;
  color: #222;
  padding: 0;
  line-height: 1.6;
   border: 3px solid #3399ff; 
}


